/* global */



body {
  font-family: 'Noto Serif SC', "Bree Serif", sans-serif;
}

body:lang(en) {
  font-family: "Bree Serif", sans-serif;
}

article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.post-ads {
  margin: 50px 0;
}



.markdown-body {
  color: rgba(0, 0, 0, 0.86);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42;
  font-family: 'Noto Serif SC', serif;
  letter-spacing: 0.05em;
  max-width: 100%;
}

.markdown-body a {
  text-decoration: underline;
  text-decoration-color: #000;
}

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: #2b2b2c;
  border-left: 0.25em solid #d0d7de;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  border-radius: 10px;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 6px;
}

/* reset code */

.markdown-body pre > code {
  padding: 0;
  font-size: 100%;
  background-color: inherit;
  border: 0;
}

/* i18n */

.Chinese .markdown-body {
  line-height: 200%;
}

/* header */

.site-date-catalog {
  font-size: 2rem;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 32px;
  font-family: "Bungee Shade", sans-serif;
}
.header-title a {
  text-decoration: none;
}

.header-subtitle {
  color: #666;
}

.header-items {
  margin: 10px 0;
}

.header-item {
  margin: 0 5px;
}


.header-line {
  width: 100%;
  border-width: 1px;
  border-color: #482936;
  border-style: solid none none none;
}

.lang-switch {
  font-weight: 600;
}

/* posts list */

#posts-list {
  min-height: 600px;
}

.post-title {
  font-size: 1.2rem;
  font-weight: bold;
  width: 150%;
}

.posts-line {
  font-size: 1.2rem;
  margin: 12px 0;
}

.posts-categories {
  font-size: 0.8rem;
  margin: auto;
  text-align: center;
}

.posts-category {
  padding: 3px 0;
  border: #000 2px solid;
  border-radius: 5px;
  /* margin-bottom: 3px; */
}

.site-footer {
  margin-top: 50px;
  /* margin-bottom: 80px; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* flex-wrap: wrap; */
  /* padding: 12px 0; */
  /* border-width: 3px; */
  /* border-style: solid none; */
  /* border-color: #000; */
}

.site-footer-item {
  margin-right: 12px;
}

/* post */

.post-content img {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-top: 12px;
}

.post-header {
  margin-bottom: 50px;
}

.post-title {
  font-family: 'Noto Serif SC', "Bree Serif", sans-serif;
  font-size: 1.3rem;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em
}

.post-tags {
  display: inline;
  font-weight: 600;
  padding: 2px 5px;
  margin-right: 6px;
  border: #000 2px solid;
  border-radius: 5px;
}

.post-date {
  font-weight: 800;
  font-style: italic;
}

.post-author {
  float: right;
  font-weight: 600;
}

.page-content {
  min-height: 60%;
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  hyphens: auto;
  line-height: 1.8;
  /* text-align: justify; */
  text-justify: ideographic;
  margin-bottom: 1em;
}

.related-content {
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.related-content li {
  margin: 5px 0;
}


/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}

.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}


.single-post-title {
  font-family: 'Noto Serif SC', "Bree Serif", sans-serif;
  font-size: 1.6rem; /* 调整字体大小 */
  font-weight: 800; /* 加粗字体 */
}



.opid-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.opid-list li {
  border-top: 1px solid #b6b6b6;
  padding: 20px 0;
}

.opid-time {
  font-size: 14px;
  color: #797878;
}

.opid-text {
  margin-top: 10px;
  font-size: 18px;
}

.opid-image {
  margin-top: 10px;
}

.opid-image img {
  max-width: 100%;
}

.taxonomy-term {
  font-family: 'Noto Serif SC', "Bree Serif", sans-serif;
  font-size: 2rem;
}



body {
  line-height: 1.6;
  color: #333;
}

.bookshelf ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bookshelf li {
  display: inline-block;
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

.bookshelf img {
  width: 100px;
  height: 150px;
  display: block;
  margin: 0 auto 10px auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.bookshelf .book-title {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}

.bookshelf .book-date {
  font-size: 0.9em;
  font-weight: normal;
  color: #666;
  text-align: center;
}

.bookshelf .rating {
  font-size: 0.9em;
  font-weight: normal;
  color: #666;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}
th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}





/* 媒体查询样式 */

@media screen and (max-width: 767px) {
  .page-content {
    margin-left: 1rem; /* 设置左边距 */
    margin-right: 1rem; /* 设置右边距 */
  }
}


@media screen and (max-width: 767px) {
  .header-title,
  .header-items {
    text-align: center;
  }

  .posts-line {
    font-size: 16px;
  }

  .single-post-title {
    font-family: 'Noto Serif SC', "Bree Serif", sans-serif;
    font-size: 1.2rem; /* 调整字体大小 */
    font-weight: 800; /* 加粗字体 */
  }
  

  .markdown-body {
    font-size: 1em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .post-title {
    font-size: 1rem;
    width: 150%;
    font-weight: bold; /* 加粗字体 */
  }
  .post-content p {
    letter-spacing: 0.05em;
  }
  
}


@media screen and (max-width: 767px) {
  .posts-category {
    display: none;
  }
}

/* 媒体查询：在较小的屏幕上调整 .bookshelf li 的宽度 */
@media screen and (max-width: 767px) {
  .bookshelf li {
    width: calc(25% - 20px);
  }
}

  /* 在较小的屏幕上调整 opid-text 的字体大小 */
  .opid-text {
    font-size: 16px;
  }

  /* 在较小的屏幕上调整 opid-image img 的宽度 */
  .opid-image img {
    max-width: 95%;
  }

  /* 在较小的屏幕上调整 .book-title, .book-date 和 .rating 的字体大小 */
  .bookshelf .book-title,
  .bookshelf .book-date,
  .bookshelf .rating {
    font-size: 0.8em;
  }

  /* 在较小的屏幕上调整表格中的文字大小 */
  table {
    font-size: 0.9em;
  }





  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem 0;
    padding: 0;
  }
  
  .pagination-item {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
  }
  
  .pagination-item:hover {
    background-color: #f1f1f1;
  }
  
  .pagination-item-active {
    background-color: #333;
    color: #fff;
  }
  
  .pagination-ellipsis {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 1rem;
  }

  .tag-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0; /* 增加顶部 padding 和减小底部 padding */
    margin-bottom: 0px; /* 增加底部 margin */
  }
  
  .tag-navbar-item {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 5px 5px; /* 增加左右和上下的 margin */
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .tag-navbar-item:hover {
    background-color: #f1f1f1;
    color: #333;
  }
  

